
/*Colores*/

$blanco:#FFF;
$platinum:#E6E7E7;
$lightGray:#D1D1D1;
$fuzzyWuzzy:E56353;
$ruddyPink:#D76C69;
$spanishPink:#ECBCBA;
$eeireBlack:#121619;
$raisinBlack:#222323;
$nickel:#6C6E70;

/*Tamaño fuentes*/

$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:12px;

/*Fuente de prueba*/
$fuenteBoton:'Roboto', sans-serif;