@charset "UTF-8";
/*Colores*/
/*Tamaño fuentes*/
/*Fuente de prueba*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Roboto*/
/*Playfair display*/
.texto-hero {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  color: #FFF;
  line-height: 1.2;
}



.titulo-p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  color: #D1D1D1;
}

.texto-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1D1D1;
  line-height: 3rem;
  color: #6C6E70;
}

.titulo-carta {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 900;
  color: #121619;
}

.texto-carta {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ECBCBA;
  line-height: 2rem;
}

.texto-naomi {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #D1D1D1;
  line-height: 2rem;
}

.textoLi {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/*Mobile*/
@media screen and (max-width: 576px) {
  .ver-p {
    display: none;
  }
  /*Nav Mobile*/
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-toggler {
    margin-right: 15px;
    background-color: white;
  }
  li {
    text-align: center;
    padding: 20px;
  }
  /*Hero Moblie*/
  .heroTextoMobile {
    width: 90%;
    text-align: center;
    line-height: 6rem;
  }
  .heroTextoDesktop {
    display: none;
  }
  /*Parrafo*/
  .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  /* Card Mobile*/
  .card-img-top {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    border-radius: 150px;
    width: 150px;
    height: 150px;
  }
  .card-body h1 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .card-body {
    text-align: center;
    margin-bottom: 25px;
  }
}

/*Desktop*/
@media screen and (min-width: 576px) {
  /*Navbar*/
  .navbar-brand {
    margin-left: 50px;
  }
  .navbar-nav {
    margin-right: 150px;
  }
  li {
    padding-right: 50px;
  }
  /*Hero*/
  .heroTextoMobile {
    display: none;
  }
  /*Parrafo*/
  .botones {
    display: block;
  }
  /*Card*/
  .card-img-top {
    border-radius: 150px;
    width: 150px;
    height: 150px;
  }
}

.miNavBar {
  background-color: #121619;
  color: #FFF;
}

.navbar-logo {
  padding: 15px;
  width: 120px;
  height: 70px;
}

.miHero {
  background: url(assets\img\post-image.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.miHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heroTextoDesktop {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 6rem;
}

.miCarta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #E6E7E7;
  width: 99.5%;
}

.card {
  border: none;
}

.miP {
  width: 65%;
}

.pag {
  width: 100%;
  height: 15vh;
  background-color: #E6E7E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.miFooter {
  background-color: #121619;
  text-align: center;
}

.imgFooter {
  margin: 70px;
  width: 120px;
  height: 50px;
}

.boton {
  background-color: #6C6E70;
  width: auto;
  height: 50px;
  padding: 12px;
  color: #FFF;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 80px;
}

.btn {
  background-color: #FFF;
  color: #121619;
}

.btnA {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #6C6E70;
  padding-left: 15px;
  padding-right: 15px;
}

.btnB {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-left: 15px;
  padding-right: 15px;
}

.btn, .btnA, .btnB {
  border: 1.5px solid #D1D1D1;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */